<h1>Beccalia</h1>
<p>
  <a href="https://www.beccalyria.com" target="_blank" rel="noreferrer"
    >Becca Lyria</a
  >
  and
  <a href="https://www.rosalianightsong.com" target="_blank" rel="noreferrer"
    >Rosalia Nightsong</a
  >
  are a pair of adventurers, travelling to various lands to pursue their own
  goals. As a couple, they are commonly referred to as "Beccalia", and while the
  love between them is strong and they get along quite well, their drastic
  differences often make for some interesting situations.
</p>
<p>
  You can learn about their stories and play through their adventures by
  checking out the Games tab above. Or join our
  <a href="https://chat.nhcarrigan.com" target="_blank" rel="noreferrer"
    >chat server</a
  >
  and
  <a href="https://mastodon.naomi.lgbt/@beccalia" target="_blank" rel="noreferrer"
    >follow our Mastodon</a
  >
  to stay in the loop on the latest updates!
</p>
