<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Beccalia</h1>
    <img src="https://cdn.nhcarrigan.com/avatars/beccalia.png" alt="" />
    <p>
      Beccalia is a series of games made with RPG Maker (most recently, MZ).
    </p>
    <p>You can browse the list of published games.</p>
    <p>
      Or, you can learn more about Beccalia the <em>characters</em> by browsing
      this site.
    </p>
  </div>
  <a routerLink="/games" class="nes-btn">See Games</a>
  <a class="nes-btn" href="https://blog.beccalia.com">View Dev Blog</a>
  <a routerLink="/beccalia" class="nes-btn">Learn About Beccalia</a>
</div>
