<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">About Beccalia</h1>
    <p>
      <a href="https://www.beccalyria.com" target="_blank" rel="noreferrer"
        >Becca Lyria</a
      >
      and
      <a
        href="https://www.rosalianightsong.com"
        target="_blank"
        rel="noreferrer"
        >Rosalia Nightsong</a
      >
      are a pair of adventurers, travelling to various lands to pursue their own
      goals. As a couple, they are commonly referred to as "Beccalia", and while
      the love between them is strong and they get along quite well, their
      drastic differences often make for some interesting situations.
    </p>
  </div>
  <a routerLink="/gallery" class="nes-btn">View Beccalia art</a>
</div>
